@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;
  <div id=Header>
    <h1 id=HeaderText>Dr. SillyStringz's Factory</h1>
  </div>

  <h2>Machines</h2>

  @if(@Model.Count == 0)
    {
      <h3>No Machines have been added yet!</h3>
    }

  @foreach (Machine machine in Model)
  {
    <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
  }

  <p>@Html.ActionLink("Add new Machine", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>