@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<div id=Header>
  <h1 id=HeaderText>Dr. Sillystringz's Factory</h1>
</div>
<div id=MainBody>
<h2>Are you sure you want to delete this Engineer?</h2>
  @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
      <input type="sumbit" value="delete" />
    }
  @Html.ActionLink("See all Engineers", "Index")
</div>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>