 @{ 
  Layout = "_Layout";
}

<div id=Header>
  <h1 id=HeaderText>Dr. Sillystringz's Factory!</h1>
</div>

<p>@Html.ActionLink("Machines", "Index", "Machines")</p> <p>@Html.ActionLink("Engineers", "Index", "Engineers")</p>

