 @{ 
  Layout = "_Layout";
}

<div id=Header>
  <h1 id=HeaderText>Dr. Sillystringz's Factory!</h1>
  <h3 id=Quote>Where dreams and wishes come true!</h3>
    <div id=TopBar>
    <p>@Html.ActionLink("Machines", "Index", "Machines") | @Html.ActionLink("Engineers", "Index", "Engineers")</p>
    </div>
</div>


<div id=MainBody>
  
</div>

  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>